/* You can add global styles to this file, and also import other style files */
@import '~ngx-bar-rating/themes/br-default-theme.css';
@import '~ngx-bar-rating/themes/br-horizontal-theme.css';
@import '~ngx-bar-rating/themes/br-bootstrap-theme';
@import '~ngx-bar-rating/themes/br-fontawesome-theme';

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

p {
  font-family: Lato;
}
